{% set title = "HUB" %}
{% extends "KeyRooms/model/page.html" %}

{% block page_content %}
<style type="text/css">
	.mode-card{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		border: 1px solid rgb(223, 225, 229); 
		color: rgb(0 158 214);
		height:300px;
	}
	.mode-card:hover{
		background-color: #f2fbff;
		cursor: pointer;
	}
</style>
<div class="valign-center">
	<div class="container">
		<div class="row">
			<div class="col s12 mb-2">
				<h1 class="center-align"><span class="">HUB</h1>
			</div>
			<div class="col s12">
				<div class="row">
					{% for mode in data %}
					<div class="col s12 l4">
						<a href="/{{mode.tag}}">
						<div class="mode-card">
							<div>
								<i class="large material-icons">{{mode.ico}}</i>
							</div>
							<div class="flow-text">
								<span class="truncate">{{mode.name}}</span>	
							</div>
						</div>
						</a>
					</div>
					{% endfor %}	
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
