/* Utlities */
.mb-1{
	margin-bottom: 1em
}
.mb-2{
	margin-bottom: 2em
}
.mb-3{
	margin-bottom: 3em
}
.mb-4{
	margin-bottom: 4em
}
.mb-5{
	margin-bottom: 5em
}

/* Icons */

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../css/materialize/fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(../css/materialize/fonts/MaterialIcons-Regular.woff2) format('woff2'),
    url(../css/materialize/fonts/MaterialIcons-Regular.woff) format('woff'),
    url(../css/materialize/fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}